<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
   <meta charset="UTF-8" th:remove="tag">
  <title>メンバー面談管理システム</title>
  
</head>
<body>

 <!-- サイドバーの表示 -->
  <div layout:fragment="sidebar"
    th:replace="~{fragments/sidebar :: sidebar}">
  </div>
  
   <main layout:fragment="content" 
   class="offcanvas-outside bg-light">



 <div class="row mt-4">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header">
                            <h6 class="text-navy my-2">会員情報詳細</h6>
                        </div>
                        <div class="card-body">
                            <table class="table" th:object="${member}">
                                <tr>
                                    <th>会員番号</th>
                                    <td th:text="*{memberCode}"></td>
                                </tr>
                                <tr>
                                    <th>姓</th>
                                    <td th:text="*{firstName}"></td>
                                </tr>
                                <tr>
                                    <th>名</th>
                                    <td th:text="*{lastName}"></td>
                                </tr>
                                <tr>
                                    <th>住所</th>
                                    <td th:text="*{address}"></td>
                                </tr>
                                <tr>
                                    <th>電話番号</th>
                                    <td th:text="*{phoneNumber}"></td>
                                </tr>
                                <tr>
                                    <th>誕生日</th>
                                    <td th:text="*{birthdate}"></td>
                                </tr>
                                <tr>
                                    <th>メールアドレス</th>
                                    <td th:text="*{email}"></td>
                                </tr>
                                <tr>
                                    <th>登録日時</th>
                                    <td th:text="*{registrationDate}"></td>
                                </tr>
                                <tr>
                                    <th>更新日時</th>
                                    <td th:text="*{updateDate}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
       
    </main>

    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>





            
                    